.periodic__table__page-container {
    display: grid;
    grid-template-columns: 12.5% 87%;
    gap: 1vh;
    height: 70vh;
}

.periodic__table__page-nav {
    height: calc(100% - 1vh);
}

.periodic__table__page-nav-content {
    background: linear-gradient(0, rgb(101, 118, 165), rgb(61, 71, 99));
    color: rgb(255, 255, 255);
    height: 85vh;
    padding: 2vh 0 2vh 0;
}


.periodic__table__page-nav-content > div {
    padding: 1vh 0 1vh 2vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    /* text-align: center; */
}


.periodic__table__page-nav-content > div:hover {
    background: rgba(16, 162, 210, 0.356);
    color: rgb(3, 3, 3);
    transition: all 400ms ease;
    cursor: pointer;
}

.periodic__table__page-nav-content > div:active {
    background: rgba(18, 18, 18, 0.3);

}

.periodic__table__page-content {
    margin-top: 1vh;
    height: calc(100% - 1vh);
    border-radius: 1rem;
}


.periodic__table-icon,
.game-icon {
    margin-right: 1vh;
    vertical-align: top;
}
