.periodic_table-game-container {
    border-radius: 2rem;
    vertical-align:top;
}

.start-button {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 54%;
    font-size: 2vh;
    padding: 3vh;
  }

.periodic_table-game-choice > h3 {
    font-size: 2vh;
    padding: 1vh 0 0 2vh;
}

.periodic_table-game-choice > p {
    padding: 1vh 0 0 17vh;
    font-size: 2vh;
    white-space: pre;
}

.answer_div {
    margin: 1vh 0 1vh 3vh;
    padding-left: 13vh;
    padding-top: 2vh;
    font-size: 2vh;
}

.periodic_table-game-choice-content {
    background: rgba(211, 210, 210, 0.841);
    margin: 1vh;
    padding: 1vh 0 1vh 2vh;
    width: 40%;
    border-radius: 1vh;
}

input[type="radio"]{
    cursor: pointer;
}

.game-button {
    font-size: 1.5vh;
    margin: 0.5rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    cursor: pointer;
}

.game_message_content{
    color: red;
}
