.home__container {
    display: grid;
    grid-template-columns: 78vw 20vw;
    gap: 1vw;
    padding-top: 2vh;
    height: 86.5vh;
    overflow-y: scroll;
}

.home__details,
.home__changelog {
    background: linear-gradient(0, rgb(222, 225, 224), rgb(201, 202, 202));
    padding: 1.5vh 5vh 3vh 5vh;
    border-radius: 2rem;
}
.home__details > h1,
.home__changelog > h1 {
    font-size: 2.75vh;
}
.home__details > div > h2 {
    font-size: 2vh;
}

.home__details > div {
    padding: 1vh;
}

.introduction__content > span,
.features__content > span, li {
    font-size: 1.75vh;
}

.changelog__content-icon {
    padding: 0 1vh 0 0;
}
.changelog__content-details {
    font-size: 1.75vh;
    padding-bottom: 2vh;
}