.nav_bar {
    background: linear-gradient(0, rgb(61, 71, 99), rgb(31, 36, 50));
    text-align: center;
    height: 6vh;
    padding-top: 3.5vh;
}


/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px){
    ul {
        bottom: 41%;
        right: -13.5%;
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down,
    ul {
        display: None;
    }
}
