.periodic__table__page-container {
    display: grid;
    grid-template-columns: 12.5% 87%;
    gap: 1vh;
    height: 70vh;
}

.periodic__table__page-nav {
    margin-top: 1vh;
    height: calc(100% - 1vh);
}

.periodic__table__page-nav-content {
    background: rgba(108, 234, 112, 0.841);
    height: calc(100% - 4vh);
    border-radius: 1rem;
    padding: 2vh 1vh 2vh 1vh;
}


.periodic__table__page-nav-content > div {
    background: rgba(3, 145, 22, 0.3);
    padding: 1vh;
    margin-bottom: 1vh;
    border-radius: 2rem;
    font-size: 2vh;
    text-align: center;
}


.periodic__table__page-nav-content > div:hover {
    background: rgba(14, 75, 1, 0.3);
    color: rgb(241, 246, 242);
    transition: all 400ms ease;
    cursor: pointer;
}

.periodic__table__page-nav-content > div:active {
    background: rgba(18, 18, 18, 0.3);

}

.periodic__table__page-content {
    margin-top: 1vh;
    height: calc(100% - 1vh);
    background: rgba(224, 222, 222, 0.841);
    border-radius: 1rem;
}
