.result_card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 40rem;
    gap: 1rem;
    padding: 3rem;
    margin-top: 2rem;
    overflow: scroll;
}

.result_card-content {
    background: rgba(49, 123, 145, 0.3);
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    transition: all 300ms ease;
}

.result_card-content:hover {
    background: rgba(1, 25, 32, 0.3);
    color: rgba(242, 245, 246, 0.963)
}

p, h4 {
    white-space: pre;
}
