.periodic_table-game-container {
    border-radius: 2rem;
    vertical-align:top;
}

.start-button {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 2vh;
    padding: 3vh;
  }

.card {
    transform-style: preserve-3d;
    transition: 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transform-origin: 35% 35%;
}


.card .periodic_table-game-choice,
.card .answer_card {
    background: rgb(211, 210, 210);
    width: 60%;
    border-radius: 2rem;
    padding: 2vh;
    margin-left: 3vh;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    position: absolute;
    height: 60vh;
}

.card.flip,
.card .answer_card {
    transform: rotateY(180deg);
  }

.periodic_table-game-choice > p {
    padding: 4vh 0 0 17vh;
    font-size: 2vh;
    white-space: pre;
}

.answer_card > p {
    padding: 1vh 0 0 17vh;
    font-size: 2vh;
    white-space: pre;
}

.answer_div {
    margin: 1vh 0 1vh 3vh;
    padding-left: 13vh;
    padding-top: 2vh;
    font-size: 2vh;
}

.periodic_table-game-choice-content {
    background: rgba(211, 210, 210, 0.841);
    margin: 1vh;
    padding: 1vh 0 1vh 2vh;
    width: 40%;
    border-radius: 1vh;
}

input[type="radio"]{
    cursor: pointer;
}

.submit_answer_button {
    font-size: 1.5vh;
    margin: 0.5rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    cursor: pointer;
}

.next_question_button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    margin: 0.5rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1.5vh;
}

.game_message_content{
    color: red;
}

.answer_card #element_card {
    width: 25vw;
    height: max-content;
    top: 17%;
    left: 25%;
    position: fixed;
    background: white;
    z-index: 1;
    border-radius: 2rem;
}

.answer_card #element-box .symbol {
    font-size: 3vw;
  }
  
.answer_card #element-box .number {
    font-size: 0.75vw;
}

.answer_card #element-box .element-name {
    font-size: 1vw;
}

.answer_card #information {
    font-size: 1vw;
}

.answer_card .cat_name {
    font-size: 1rem;
}
