.nav_bar {
    background: rgba(108, 234, 112, 0.841);
    text-align: center;
    height: 4.5vh;
    padding-top: 2vh;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px){
    ul {
        bottom: 41%;
        right: -13.5%;
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down,
    ul {
        display: None;
    }
}
